mixin storeForm(store = {})
  form(
    action=`/add/${store._id || ''}`
    method="POST"
    class="card"
    enctype="multipart/form-data"
  )
    label(for="name") Name
    input(type="text" name="name" value=store.name required)

    label(for="description") Description
    textarea(name="description" required)= store.description

    label(for="photo") Photo
    input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
    if store.photo
      img(src=`/uploads/${store.photo}` alt=store.name width=200)

    - const loc = store.location;
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(loc && loc.address) required)
    label(for="address") Longitude
    input(type="text" id="lng" name="location[coordinates][0]" value=(loc && loc.coordinates[0]) required)
    label(for="address") Latitude
    input(type="text" id="lat" name="location[coordinates][1]" value=(loc && loc.coordinates[1]) required)
    
    - const choices = ["Pizza", "Döner", "Pommes", "Thai", "Eis"]
    - const tags = store.tags || []
    ul.tags
      each choice in choices 
        .tag.tag__choice
          input(
            type="checkbox"
            name="tags"
            id=choice
            value=choice
            checked=tags.includes(choice)
          )
          label(for=choice)= choice

    input(type="submit" value="Save →")